.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 5vh;
    background-color: rgb(88, 86, 86);
    width: 100%;
    border-top: 2px solid black;
}

.footerimg{
    height: 3vh;    
    margin-top: 1vh;
}

a{
    text-decoration: none;
    color: white
}